
* {
  font-family: 'JetBrainsMono Nerd Font', sans-serif;
  font-weight: bold;
  border: none;
}

*:hover {
  background: none;
}

window#waybar {
  color: #D4BE98;
  background-color: transparent;
}

.modules-left {
  margin-left: 10px;
  border-radius: 5px;
}

.modules-center {
  border-radius: 5px;
}

.modules-right {
  margin-right: 10px;
  border-radius: 5px;
}

#workspaces {
  border-radius: 5px;
}

#workspaces button {
  color: #D4BE98;
}

#workspaces button.empty {
  color: #D4BE98;
}

#workspaces button.active {
  color: #D8A657;
}

.workspace-1 {
  color: #EA6962;
}

#battery {
  margin: 0 10px 0 10px;
}

#network {
  margin: 0 10px 0 10px;
}

#clock {
  margin: 0 10px 0 10px;
}

#wireplumber {
  margin: 0 10px 0 10px;
}
