* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-weight: bold;
  border: none;
}

*:hover {
  background: none;
}

tooltip {
  background: #1b1b1b;
}

tooltip label {
  color: #d4be98;
}

window#waybar {
  color: #d4be98;
  background: transparent;
}

.modules-left {
  margin-left: 10px;
  border-radius: 5px;
}

.modules-center {
  border-radius: 5px;
}

.modules-right {
  margin-right: 10px;
  border-radius: 5px;
}

#workspaces {
  border-radius: 5px;
}

#workspaces button {
  color: #d4be98;
}

#workspaces button.empty {
  color: #d4be98;
}

#workspaces button:not(.active):hover {
  color: #7daea3;
}

#workspaces button.active {
  color: #d8a657;
}

#battery {
  margin: 0 10px 0 10px;
}

#network {
  margin: 0 10px 0 10px;
}

#clock {
  margin: 0 10px 0 10px;
}

#wireplumber {
  margin: 0 10px 0 10px;
}
